.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px;
  gap: 24px;

  @media (--viewport-md-up) {
    padding: 24px 32px;
    gap: 32px;
  }
}
